/*
#00FFD1 - primary
#2BE4B8 - secondary

Dark Theme:
#202125 - lightest
#16171B - darkest
#00FFD1 - 8% primary

Fonts:
font-family: 'Montserrat', sans-serif;
*/


html, body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
.side-nav{
    display: flex;
    flex-direction: column;
    flex-basis: 20%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #202125;
    transition: all 300ms ease-in-out;
}
.side-nav:hover{
    flex-basis: 23%;
}
.header-nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background-color: #202125;
    
}
.header-logo{
    width: 25px;
    height: 25px;
}
.progress-bar{
    display: flex;
    height: 3px;
    width: 20%;
    background-color: #00FFD1;
    flex-grow: 0;
    flex-shrink: 0;
    flex-direction: row;
 
 }
 .profile{
    display: flex;
    align-items: center;
    border-bottom: 3px solid #16171B;
    margin-left: 5px;
    margin-right: 5px;
    
 }
.profile-info{
    display: flex;
    flex-direction: column;
    flex-basis: 70%;
    height: 70px;
    justify-content: center;
}
.profile-img-contanter{
    display: flex;
    flex-basis: 30%;
    align-items: center;
    justify-content: center;
}
 .profile-img{
     width: 40px;
     height: 40px;
     border-radius: 50%;
     border: 2px solid #00FFD1;
 }
 .profile-name{
     color: white;
     margin: 0;
     padding: 0;
     padding-left: 5px;
     font-family: 'Montserrat', sans-serif;
 }
 .profile-msg{
     color: rgba(255, 255, 255, 0.63);
     margin: 0;
     padding: 0;
     padding-left: 5px;
     font-family: 'Montserrat', sans-serif;
 }

.main-content{
    display: flex;
    flex-direction: row;
    height: 100%;
    background-color: #16171B;
}

.content-body{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 90%;
}
.all-tasks{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    height: 100%;
    background-color: #202125;
    color: white;
    margin-right: 20px;
    margin-left: 20px;
}
.task-list-title{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    padding-top: 15px;
}
ul {
    list-style: none;
    padding-left: 0;
}​
.task-list{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    list-style-type: none;
    border: 1px solid red;
}
.task-container-new-list{
    display: flex;
    align-items: center;
    background-color: #2F3034;
    border-radius: 5px;
    margin: 0;
    padding: 0;
    margin-top: 10px;
    height: 40px;
    font-family: 'Montserrat', sans-serif;
    font-size: small;
    font-weight: 500;
    padding-left: 10px;
    padding-right: 10px;
}
.task-container{
    display: flex;
    align-items: center;
    background-color: #2F3034;
    border-radius: 5px;
    margin: 0;
    padding: 0;
    margin-top: 10px;
    height: 40px;
    font-family: 'Montserrat', sans-serif;
    font-size: small;
    font-weight: 500;
    padding-left: 10px;
    padding-right: 10px;
}
.task-container:hover{
    cursor: pointer;
    background-color: #00ffd027;
}
.active-list{
    font-weight: 800;
    background-color: #2be4b9d5;
}


.todo-list-container{
    height: calc(100% - 43px);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.todo-list{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 700px;
    height: 80%;   
    background-color: #202125; 
    border-radius: 15px;
    color: white;
}

.todo-header{
    display: flex;
    background-color: #2F3034;
    align-items: center;
    height: 70px;
}

.list-title{
    font-family: 'Montserrat', sans-serif;
    font-size: xx-large;
    flex-basis: 80%;
    padding-left: 30px;
    padding-right: 30px;
}
.task-count{
    display: flex;
    width: 40px;
    height: 40px;
    background-color: #00ffd0ad;
    border-radius: 50%;
    color: white;
    align-items: center;
    justify-content: center;
    font-size: medium;
    font-weight:900;
    font-family: 'Montserrat', sans-serif;
    
}
.todo-body{
    height: 100%;
}
.tasks{
    display: flex;
    flex-direction: column;
    height: calc(100% - 30px);
}
.task:hover{
    cursor: pointer;
}



.container{
    margin-top: 15px;
    width: 90%;
    background-color: #2F3034;
    border-radius: 5px;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    align-self: center;

    font-family: 'Montserrat', sans-serif;
    font-size: small;
}
.creator{
    margin-top: 15px;
    width: 90%;
    background-color: #2F3034;
    border-radius: 5px;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    align-self: center;

    font-family: 'Montserrat', sans-serif;
    font-size: small;
}
form{
    display: flex;
}
.new{
    background-color: transparent;
    border: 0;
    color: inherit;
    border-bottom: 1px solid currentColor;
    font-size: small;
    outline: none;
    order: 2;
    padding: 5px;

}
.new:focus{
    border-bottom-width: 2px;
}
.new:focus::placeholder{
    opacity: 0.4;
}

label:hover{
    cursor: pointer;
}

[type="checkbox"]{
    opacity: 0;
    position: absolute;
}
.task label{
    display: flex;
    align-items: center;
    position: relative;
}


.custom-checkbox {
    display: inline-block;
    width: 0.75rem;
    height: 0.75rem;
    cursor: pointer;
    border: 2px solid currentColor;
    border-radius: 50%;
    margin-right: 10px;
}

.task:hover .custom-checkbox,
[type="checkbox"]:hover + label .custom-checkbox{
    transform: scale(1.2);
    color: #00FFD1;
}
[type="checkbox"]:checked + label .custom-checkbox{
   background-color: #00FFD1;
   border-color: #00FFD1;
   box-shadow: inset 0 0 0px 2px #3a3b3f;
}

[type="checkbox"]:checked + label {
    opacity: 0.5;
}

.task label::after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    left: 1.5rem;
    height: 2px;
    background: currentColor;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 150ms ease-in-out;
}
[type="checkbox"]:checked + label::after{
    transform: scaleX(1);
}


.delete-stuff{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
}
.btn-task{
    cursor: pointer;
    background: 0;
    border: 0;
    padding: 0;
    margin-right: 0.5rem;
    outline: none;
}
.btn-task:hover{
    opacity: 0.5;
}
.plus-img{
    width: 15px;
    height: 15px;
}

.btn{
    height: 20px;
    background-color: #202125;
    border: none;
    color: #3a3b3f;
    outline: none;
}
.btn:hover{
    cursor: pointer;
    color: white;
}







