/*
#00FFD1 - primary
#2BE4B8 - secondary

Dark Theme:
#202125 - lightest
#16171B - darkest
#00FFD1 - 8% primary

Fonts:
font-family: 'Montserrat', sans-serif;
*/


html, body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
.side-nav{
    display: flex;
    flex-basis: 20%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.header-nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background-color: #202125;
    
}
.header-logo{
    width: 25px;
    height: 25px;
}
.progress-bar{
    display: flex;
    height: 3px;
    width: 20%;
    background-color: #00FFD1;
    flex-grow: 0;
    flex-shrink: 0;
    flex-direction: row;
 
 }

.main-content{
    display: flex;
    flex-direction: row;
    height: 100%;
    background-color: #16171B;
}

.content-body{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 90%;
}
.all-tasks{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    height: 100%;
    background-color: #202125;
    color: white;
}
.todo-list-container{
    height: calc(100% - 43px);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.todo-list{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 700px;
    height: 80%;   
    background-color: #202125; 
    border-radius: 15px;
    color: white;
}

.todo-header{
    display: flex;
    background-color: #2F3034;
    align-items: center;
    height: 70px;
}

.list-title{
    font-family: 'Montserrat', sans-serif;
    font-size: xx-large;
    flex-basis: 80%;
    padding-left: 30px;
    padding-right: 30px;
}
.task-count{
    display: flex;
    width: 20px;
    height: 20px;
    background-color: #00FFD1;
    border-radius: 5px;
    color: black;
    align-items: center;
    justify-content: center;
    font-size: medium;
    font-weight:900;
    font-family: 'Montserrat', sans-serif;
    
}
.todo-body{
    height: 100%;
}
.tasks{
    display: flex;
    flex-direction: column;
    height: calc(100% - 30px);
}


.container{
    margin-top: 15px;
    width: 90%;
    background-color: #2F3034;
    border-radius: 5px;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    align-self: center;

    font-family: 'Montserrat', sans-serif;
    font-size: small;
}
.creator{
    margin-top: 15px;
    width: 90%;
    background-color: #2F3034;
    border-radius: 5px;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    align-self: center;

    font-family: 'Montserrat', sans-serif;
    font-size: small;
}
form{
    display: flex;
}
.new{
    background-color: transparent;
    border: 0;
    color: inherit;
    border-bottom: 1px solid currentColor;
    font-size: inherit;
    outline: none;
    order: 2;

    transition: border-bottom 5s ease-in-out;
}
.new:focus{
    border-bottom-width: 2px;
}
.new:focus::placeholder{
    opacity: 0.4;
}
.delete-stuff{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
}
.btn-task{
    cursor: pointer;
    background: 0;
    border: 0;
    padding: 0;
    color: inherit;
    font-size: 2rem;
    margin-right: 1rem;
}
.btn-task:hover{
    opacity: 0.7;
}

.btn{
    height: 20px;
    background-color: #202125;
    border: none;
    color: #3a3b3f;
}
.btn:hover{
    cursor: pointer;
}







